.react-calendar {
  width: 100%;
  background: transparent;
  border: none;
  font-family: inherit;
}
.react-calendar__tile {
  padding: 10px 0;
  border-radius: 8px;
  font-weight: 500;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #f3f4f6;
  color: #111827;
}
.react-calendar__tile--now {
  background: #fdf6b2;
  color: #c05621;
}
.react-calendar__tile--active {
  background: #0e9f6e !important;
  color: white !important;
}
/* Dark Mode support simple hack */
.dark .react-calendar__tile:enabled:hover {
  background-color: #374151;
  color: white;
}
.dark .react-calendar__navigation button {
  color: white;
}
.dark .react-calendar__month-view__days__day--weekend {
  color: #f87171;
}
